<div fxLayout="row wrap">
    <!-- column -->    
    <div fxFlex.gt-lg="66" fxFlex.gt-md="66" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <mat-card-content>  
                    <div class="d-flex flex-wrap">
                        asdasdasdasdadsasdas
                    </div>
    
                    <div class="barchrt" style="height:360px;">
                        <!-- x-chartist class="" [data]="barChart1.data" [type]="barChart1.type" [options]="barChart1.options" [responsiveOptions]="barChart1.responsiveOptions"
                            [events]="barChart1.events"> </x-chartist> -->
                              
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- column -->    
       
</div>